<main class="dashboard">
    <header class="header">
       
    
    </header>
    
    <section class="container">
        
        <!-- 
            First section : Top 10 languages
            PARAM: Year selection 
            1. list of languages
            2. graph of languages 
        
            Evolution of the languages during the year
            1. graph of languages
        -->

        <mat-card>
            <mat-card-header class="top-languages-header">
                <mat-card-title>Top 10 Languages</mat-card-title>
                <mat-card-subtitle>Card subtitle</mat-card-subtitle>
                <mat-form-field appearance="outline">
                    <mat-label>Year</mat-label>
                    <mat-select [(value)]="selectedYear">
                        <mat-option *ngFor="let year of years" [value]="year">
                            {{year}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-header>
            <mat-card-content>
                <div class="top-languages-content">
                    <div>
                        <!-- MatTablee -->
                         <mat-table [dataSource]="dataSource" >
                             <ng-container matColumnDef="name">
                                 <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                 <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                             </ng-container>
                             <ng-container matColumnDef="value">
                                 <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
                                 <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                             </ng-container>
                             <ng-container matColumnDef="percent">
                                 <mat-header-cell *matHeaderCellDef> Percent </mat-header-cell>
                                 <mat-cell *matCellDef="let element"> {{element.percent}} </mat-cell>
                             </ng-container>
                             <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                             <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                         </mat-table>
     
                     </div>
     
                     <div echarts 
                         [options]="Stacked_Area_Chart" 
                         [loading]="isLoading" 
                         theme="macarons" 
                         class="chart">
                     </div>
     
                </div>
                
                <div class="languages-evolution">
                    <div echarts 
                        [options]="Stacked_Area_Chart" 
                        [loading]="isLoading" 
                        theme="macarons" 
                        class="chart">
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <!-- 
            Second section : Top Repositories 
            PARAM: Year selection
            1. Multiple card inline (Top Issue / Top Fork / Top Pull Request)
            2. Graph of the evolution of the top repositories
            3. List of the top repositories
            4. Liscences of the top repositories
        -->

        <mat-card>
            <mat-card-header class="top-ten-header">
                <mat-card-title>Top 10 Languages</mat-card-title>
                <mat-card-subtitle>Card subtitle</mat-card-subtitle>
                <mat-form-field appearance="outline">
                    <mat-label>Year</mat-label>
                    <mat-select [(value)]="selectedYear">
                        <mat-option *ngFor="let year of years" [value]="year">
                            {{year}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-header>
            <mat-card-content >
                <!-- 1. Multiple card inline (Top Issue / Top Fork / Top Pull Request) -->
                <div class="top-languages-content">
                    <card-stats title="Top Issue" [value]="200" />
                    <card-stats title="Top Fork" [value]="200" />
                    <card-stats title="Top Pull Request" [value]="200" />
                    <card-stats title="Top Issue" [value]="200" />
                </div>

                <!-- 2. Graph of the evolution of the top repositories -->
                <div echarts 
                    [options]="Stacked_Area_Chart" 
                    [loading]="isLoading" 
                    theme="macarons" 
                    class="chart">
                </div>

                <!-- 3. List of the top repositories -->
                <div class="top-repositories-list">
                    <mat-table [dataSource]="dataSource" >
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="percent">
                            <mat-header-cell *matHeaderCellDef> Percent </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.percent}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>

                <!-- 4. Liscences of the top repositories -->
                <div class="top-repositories-licenses">
                    <mat-table [dataSource]="dataSource" >
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="percent">
                            <mat-header-cell *matHeaderCellDef> Percent </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.percent}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>

            </mat-card-content>
        </mat-card>

        <!-- 
            Third section : Top Contributors
            PARAM: Year selection
            1. List of the top contributors
        -->

        <mat-card>
            <mat-card-header class="top-ten-header">
                <mat-card-title>Top 10 Contributors</mat-card-title>
                <mat-card-subtitle>Card subtitle</mat-card-subtitle>
                <mat-form-field appearance="outline">
                    <mat-label>Year</mat-label>
                    <mat-select [(value)]="selectedYear">
                        <mat-option *ngFor="let year of years" [value]="year">
                            {{year}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-header>
            <mat-card-content >
                <div class="top-contributors-list">
                    <mat-table [dataSource]="dataSource" >
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="percent">
                            <mat-header-cell *matHeaderCellDef> Percent </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.percent}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </mat-card-content>
        </mat-card>

        <!-- 
            Fourth section : Top Organizations
            PARAM: Year selection
            1. List of the top organizations
        -->

        <mat-card>
            <mat-card-header class="top-ten-header">
                <mat-card-title>Top 10 Organizations</mat-card-title>
                <mat-card-subtitle>Card subtitle</mat-card-subtitle>
                <mat-form-field appearance="outline">
                    <mat-label>Year</mat-label>
                    <mat-select [(value)]="selectedYear">
                        <mat-option *ngFor="let year of years" [value]="year">
                            {{year}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-header>
            <mat-card-content >
                <div class="top-organizations-list">
                    <mat-table [dataSource]="dataSource" >
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="percent">
                            <mat-header-cell *matHeaderCellDef> Percent </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.percent}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </mat-card-content> 
        </mat-card>


        <!-- 
            Fifth section : Top Ide
            PARAM: Year selection
            1. List of the top ide
            2. Pie chart of the top ide
        -->

        <mat-card>
            <mat-card-header class="top-ten-header">
                <mat-card-title>Top 10 IDE</mat-card-title>
                <mat-card-subtitle>Card subtitle</mat-card-subtitle>
                <mat-form-field appearance="outline">
                    <mat-label>Year</mat-label>
                    <mat-select [(value)]="selectedYear">
                        <mat-option *ngFor="let year of years" [value]="year">
                            {{year}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-header>
            <mat-card-content  >
                <div class="top-ide-list">
                    <mat-table [dataSource]="dataSource" >
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="percent">
                            <mat-header-cell *matHeaderCellDef> Percent </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.percent}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
                <div echarts 
                    [options]="Doughnut_Chart" 
                    [loading]="isLoading" 
                    theme="macarons" 
                    class="chart">
                </div>
            </mat-card-content>
        </mat-card>
        
    </section>
</main>