.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  .spacer {
    flex: 1 1 auto;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px;
  padding-bottom: 32px;
}

.top-languages-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;

  .chart {
    width: 60%;
  }

  .name {
    white-space: nowrap;
  }

  .list-languages {
    width: 40%;
  }
}

.top-languages-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}

.mat-tab-container {
  margin: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }

}

.third-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;

  mat-card {
    width: 100%;
  }
}

mat-header-cell {
  font-weight: bold;
}

.top-repositories {
  .top-repositories-header {
    padding: 16px;
  }

  .mat-mdc-card-content {
    padding: 0 !important;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;

    .top-repositories-list {
      width: 60%;
      border-right: 2px solid #e0e0e0;
      border-top: 2px solid #e0e0e0;
      border-top-right-radius: 4px;
      cursor: pointer;

      .mat-mdc-row:hover {
        background-color: #e0e0e0 !important;
      }
    }

    .chart {
      width: 40%;
    }
  }
}

.chart {
  > h1 {
    padding-left: 16px
  }

  > p {
    padding-left: 16px
  }
}

.fun {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 32px;
  margin: 32px;
}
