<main class="dashboard">
    <header class="header">
        <!-- Statistic of repositories -->
        <card-stats title="New Repositories of the Day" color="" />
        
        <!-- Statistic of commits -->
        <card-stats title="New Commits of the Day" color="" />
    
        <!-- Statistic of contributors -->
        <card-stats title="New Contributors of the Day" color="" />
    
        <!-- Statistic of issues -->
        <card-stats title="New Issues of the Day" color="" />
    
    </header>
    
    <section>
    
        <!-- Graphic Most Languages used on curbe and histo of repositories -->
    
    
    
    </section>
</main>