

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #f8f7f6;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px;
}

.top-languages-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;

  .chart {
    width: 60%;
  }

  .name {
    white-space: nowrap;
  }

  .list-languages {
    width: 40%;
  }
}

.top-languages-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}

.mat-tab-container {
  margin: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }

}

.thrid-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;

  mat-card {
    width: 100%;
  }
}


.top-repositories .top-repositories-header {
  padding: 16px;
}

.top-repositories {

  .mat-mdc-card-content {
    padding: 0 !important;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;

    .top-repositories-list {
      width: 60%;
      border-right: 2px solid #e0e0e0;
      border-top: 2px solid #e0e0e0;
      border-top-right-radius: 4px;

    }

    .chart {
      width: 40%;
    }
  }



}

